<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>LandScope</title>
    {% load static %}
    <script src="{% static '/libs/js/babel.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/libs/js/react.development.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/libs/js/react-dom.development.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/libs/js/eruda.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static '/libs/js/material-ui.development.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static '/libs/css/icon.css' %}">
    <link rel="stylesheet" href="{% static '/main.css' %}" >
</head>
<body>
    <div id="root">
        
    </div>
    <script type="text/javascript" charset="utf-8">
        eruda.init([]);
    </script>
    {% for script in scripts %}
        <script src="{% static '/dist/' %}{{ script }}" type="text/babel"></script>
    {% endfor %}
    </script>
</body>

</html>